html {
  font-size: 100%;
  font-family: "iransans";
}

a{
  text-decoration: none;
}
.container{
  max-width: 1200px; 
  margin: 0 auto;
  box-sizing: border-box;
}

header .phone{
color: ##999999;
font-size: .9rem;
margin-left: .5rem;
}

header .menu {
  margin-top: .8rem;

}
header .menu ul{
  display: flex;
}
header .menu ul li{
  margin: 0 0.5rem;
}
header .menu ul li a{
  font-size: .8rem;
  color: rgb(94, 94, 94);
}
header .menu ul li a:hover{
  color: rgb(241, 145, 253);
}
.logo{
  width: 80px;
} 
header{
  margin-top: 2rem;
}
header .container{
  background-color: rgb(243, 243, 243);
  border-radius: 1rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-section{
  margin: 2rem 0;
}
.top-section .container{
  background: linear-gradient(to right , rgba(247, 247, 247, 0.4) ,  rgba(150, 108, 163, 0.4)) , url(/asset/images/background-image.webp) no-repeat;
  background-size: cover;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

.top-section h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: white;
}

.top-section p {
  font-size: .8rem;
  margin-bottom: 2rem;
  color: white;
  line-height: 1.4rem;
}

.top-section .form input{
padding: .5rem .4rem;
border-radius: .5rem;
border: 0;
outline: 0;
min-width: 300px;
font-family: inherit;
}

.top-section .form input::placeholder {
color: #131313;
font-size: .8rem;
}
.top-section .form input::-moz-placeholder{
color: #131313;
font-size: .8rem;
}
.top-section .form input::-webkit-input-placeholder{
color: #131313;
font-size: .8rem;
}
.top-section .form input:focus{
  background-color: #cacaca;
}

.top-section .form button {
  font-size: .6rem;
  background-color: #2b85fa;
  border: 0;
  padding: 0.7rem 0.5rem;
  color: white;
  font-family: inherit;
  border-radius: 0.3rem;
  cursor: pointer;
}

.top-section .form button:hover {
  background-color: #1c5bad;
}
main .container {
  display: flex;
}
main .sidebar{
  flex: 20%;
  background-color: rgba(243, 243, 243);
  border-radius: 1rem;
  padding: 2rem;
  margin: .5rem;
  margin-right: 0;
}
main .sidebar h3 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
main .sidebar ul , footer ul{
  list-style: disc;
  margin-right: .8rem;
}
main .sidebar ul li , footer ul li {
  margin-top: 1.5rem;
}
main .sidebar ul li , footer ul li{
  margin-top: 1.5rem;
}
main .sidebar ul li a , footer ul li a, footer ul li{
  font-size: .8rem;
  color: #888;
}
main .sidebar ul li a:hover , footer ul li a:hover{
  font-size: .8rem;
  color: #810e85;
}
main .products {
  flex: 80%;
  margin: .5rem;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
 
.products .product {
  background-color: rgb(230, 230, 230);
  border-radius: 1rem;
  width: 250px;
  overflow: hidden;
  margin-bottom: 1rem;
  position: relative;

}
.products .product .cover img{
  width: 100%;
  object-fit: cover;
} 
.product .title {
  margin: 1rem 0.5rem;
  font-size: .9rem;
}
.product .description {
  font-size: .7rem;
  color: #666;
  margin: 0 0.5rem;
}
.product .btn{
  text-align: center;
  margin: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.product .off-label {
  background-color: #810e85;
  color: white;
  border-radius: 4rem;
  font-size: .7rem;
  padding: .3rem .5rem;
  position: absolute;
  top: 10px;
  left: 10px;
  
}
.btn{
  padding: .6rem .8rem;
  border-radius: .5rem;
  font-size: .8rem;
}
.btn:hover{
  opacity: .8;
}
.btn-success {
  background-color: rgb(19, 77, 19);
  color: white;
}
.btn-full {  
  display: block;
}

footer{
  margin-top: 4rem;
}
footer .content{
background-color: rgba(243,243,243) ;
border-radius: 1rem;
padding: 2rem;
display: flex;
justify-content: space-between;
}

footer .copyright {
  background-color:  rgba(243,243,243);
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 1rem;
  text-align: center;
  font-size: .7rem;
  color: #777;
}
footer .title{
  position:relative;
  margin-bottom: 1.5rem;
}
footer .title::before{
  content:"";
  width: 10px;
  height: 10px;
  background-color: rgb(118, 0, 148);
  position: absolute;
  right:-16px;
  top:1px;
  border-radius: .2rem;
}

footer .col{
  width: 300px;
}
footer p{
  font-size: 0.7rem;
  color: #777;
  line-height: 1.5rem;
}
footer li{
  margin-bottom: 1rem;
}

.phone-fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #810e85;
  color: white;
  border-radius: 1rem;
  padding: 0.8rem 0.8rem;
}